##  13th March  - String and List manipulation

### 15th Mar'21

In [1]:
a = "Sougata"
b = "Mookherjee"

In [2]:
a

'Sougata'

In [3]:
b

'Mookherjee'

In [4]:
c = "This is my first call, joned's the same today"

In [5]:
c

"This is my first call, joned's the same today"

In [6]:
c[: : - 1]

"yadot emas eht s'denoj ,llac tsrif ym si sihT"

In [7]:
len(c)

45

In [8]:
for i in c:    
    print(i)

T
h
i
s

i
s

m
y

f
i
r
s
t

c
a
l
l
,

j
o
n
e
d
'
s

t
h
e

s
a
m
e

t
o
d
a
y

In [9]:
m = []
for i in c:
    m.append(i)

In [10]:
print(m)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'm', 'y', ' ', 'f', 'i', 'r', 's', 't', ' ', 'c', 'a', 'l', 'l', ',', ' ', 'j', 'o', 'n', 'e', 'd', "'", 's', ' ', 't', 'h', 'e', ' ', 's', 'a', 'm', 'e', ' ', 't', 'o', 'd', 'a', 'y']

In [11]:
d = ("Sougata" +" " + "Mookherjee" + " ")*3

In [12]:
type(d)
d

'Sougata Mookherjee Sougata Mookherjee Sougata Mookherjee '

In [13]:
d.find("gata")

3

In [14]:
n = "My name is Apu, that is a good name"

In [15]:
l = n.split()
l
l[0:3]

['My', 'name', 'is']

In [16]:
b = n.find("name")
for i in range(len("name")):
    print(b +i )

3
4
5
6

In [17]:
n.count("name")

2

In [18]:
n.split(',')

['My name is Apu', ' that is a good name']

In [19]:
n.upper()

'MY NAME IS APU, THAT IS A GOOD NAME'

In [20]:
n.lower()

'my name is apu, that is a good name'

In [21]:
n.title()

'My Name Is Apu, That Is A Good Name'

In [22]:
n.swapcase()

'mY NAME IS aPU, THAT IS A GOOD NAME'

In [23]:
" ".join(n)

'M y   n a m e   i s   A p u ,   t h a t   i s   a   g o o d   n a m e'

In [24]:
print(list(reversed(n)))

['e', 'm', 'a', 'n', ' ', 'd', 'o', 'o', 'g', ' ', 'a', ' ', 's', 'i', ' ', 't', 'a', 'h', 't', ' ', ',', 'u', 'p', 'A', ' ', 's', 'i', ' ', 'e', 'm', 'a', 'n', ' ', 'y', 'M']

In [25]:
for i in reversed(n):
    print(i)

e
m
a
n

d
o
o
g

a

s
i

t
a
h
t

,
u
p
A

s
i

e
m
a
n

y
M

In [26]:
t = "   Tatoo     "

In [27]:
t.strip()

'Tatoo'

In [28]:
t.lstrip()

'Tatoo     '

In [29]:
t.rstrip()

'   Tatoo'

In [30]:
s = "Greeting card from me"

In [31]:
s.replace("e","*")

'Gr**ting card from m*'

In [32]:
s

'Greeting card from me'

In [33]:
s.center(40, " ")

'         Greeting card from me          '

In [34]:
s = "Sougata\tkumar"
s

'Sougata\tkumar'

In [35]:
s.expandtabs()

'Sougata kumar'

In [36]:
a = "we all are a part of Full Stack"

In [37]:
a

'we all are a part of Full Stack'

In [38]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

Find the occurence of "a" in entire data

In [39]:
c = a.count("a")
c

5

Find all the loaction/index "a" in entire data

In [40]:
for i in range(len(a)):
    if a[i] == "a":
        print(i)

3
7
11
14
28

In [41]:
a.replace("a", "ineron")

'we ineronll ineronre ineron pineronrt of Full Stineronck'

In [42]:
e = a.split()
e

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [43]:
a.isalpha()

False

In [44]:
s = "This is a new world with you and me"
s

'This is a new world with you and me'

In [45]:
len(s)

35

In [46]:
count = 0
for i in s:
    count += 1
print(count)

35

In [47]:
for i in range(1,len(s)):
    print(s[-i])

e
m

d
n
a

u
o
y

h
t
i
w

d
l
r
o
w

w
e
n

a

s
i

s
i
h

In [48]:
G = "Thakur, Maa, Swamiji"

In [49]:
G

'Thakur, Maa, Swamiji'

In [50]:
for i in range(1, len(G)):
    print(G[-i])

i
j
i
m
a
w
S

,
a
a
M

,
r
u
k
a
h

In [51]:
ch = len(G) -1
while ch >= 0:
    print(G[ch])
    ch = ch - 1

i
j
i
m
a
w
S

,
a
a
M

,
r
u
k
a
h
T

In [52]:
name = 'Belur Math'
vowels = 'AaEeIiOoUu'
for i in name:
    if i in vowels:
        print ("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

B is not a vowel
e is a vowel
l is not a vowel
u is a vowel
r is not a vowel
  is not a vowel
M is not a vowel
a is a vowel
t is not a vowel
h is not a vowel

### 18th March 2021

In [53]:
s = input ("Enter a data for which you like to check a palindrom ")
if s[::-1] == s:
    print("Good")
else:
    print("Not good")

Enter a data for which you like to check a palindrom odod
Not good

In [54]:
l = ["Sougata",2,55,66, [26,36,46,56,66]]

In [55]:
l[3]

66

In [56]:
l[0:3]

['Sougata', 2, 55]

In [57]:
s = "Rama"
s = ["RAMA"]
l+s

['Sougata', 2, 55, 66, [26, 36, 46, 56, 66], 'RAMA']

In [58]:
454 in l

False

In [59]:
66 in l

True

In [60]:
56 in l

False

In [61]:
"My first name is {} and last name is {}".format(input("Frst Name please-- "), input("Second name please-- "))

Frst Name please-- Sougata
Second name please-- Mookherjee

'My first name is Sougata and last name is Mookherjee'

In [62]:
True or False

True

In [63]:
True and False

False

In [64]:
8 and 4

4

In [65]:
8 or 4

8

In [66]:
n = "Ramakrihsna"
n.partition("a")

('R', 'a', 'makrihsna')

## 14th March - List manipulation

### 18th March'21

In [67]:
l = ["Sougata",2,33,44,55,66,[221,331,441,551]]

In [68]:
for i in l:
    print(i)

Sougata
2
33
44
55
66
[221, 331, 441, 551]

In [69]:
l[0]

'Sougata'

In [70]:
l[::-1]

[[221, 331, 441, 551], 66, 55, 44, 33, 2, 'Sougata']

In [71]:
l[6][::-1]

[551, 441, 331, 221]

In [72]:
for i in l:
    if type(i) == list:
        print(i)

[221, 331, 441, 551]

In [73]:
l1 = [3425, 2435, 4424]

In [74]:
print(l + l1)

['Sougata', 2, 33, 44, 55, 66, [221, 331, 441, 551], 3425, 2435, 4424]

In [75]:
len(l)

7

In [76]:
"Sougata" in l

True

In [77]:
max(l1)

4424

In [78]:
n = "Let us see if this works"
n1 = n.split()
print(n1)
max(n1)

['Let', 'us', 'see', 'if', 'this', 'works']

'works'

In [79]:
min(n1)

'Let'

In [80]:
l.append("Mookherjee")
print(l)

['Sougata', 2, 33, 44, 55, 66, [221, 331, 441, 551], 'Mookherjee']

In [81]:
l.pop()

'Mookherjee'

In [82]:
print(l)

['Sougata', 2, 33, 44, 55, 66, [221, 331, 441, 551]]

In [83]:
l.insert(4,"RAMA")
print(l)

['Sougata', 2, 33, 44, 'RAMA', 55, 66, [221, 331, 441, 551]]

In [84]:
l.insert(-1,"SITA")
print(l)

['Sougata', 2, 33, 44, 'RAMA', 55, 66, 'SITA', [221, 331, 441, 551]]

In [85]:
l[0]

'Sougata'

In [86]:
l.count("Mookherjee")

0

In [87]:
l.extend([[2,22,33,]])

print(l)

['Sougata', 2, 33, 44, 'RAMA', 55, 66, 'SITA', [221, 331, 441, 551], [2, 22, 33]]

In [88]:
l.pop(2)

33

In [89]:
print(l)

['Sougata', 2, 44, 'RAMA', 55, 66, 'SITA', [221, 331, 441, 551], [2, 22, 33]]

In [90]:
l.index("Mookherjee")

ValueError: 'Mookherjee' is not in list

In [ ]:
l.pop(6)

In [ ]:
print(l)

In [ ]:
l.remove("T")
print(l)

In [ ]:
l.reverse()

In [ ]:
print(l)

In [ ]:
b = [[2,4,"Horse",6,8,"Rose",10],[3,9,"Gold",12,15,"Rat",18],[4,"Silver",8,12,"Tom",16,20]]

In [ ]:
b.append([5,10,15,20,25])
print(b)

In [ ]:

print(b)

In [ ]:
for i in b:
    if type(i) == list:
        for r in i:
            if type(r) == str:
                print(r)

In [ ]:
for i in b:
    if type(i) == list:
        j = 0
        while j < len(i):
            if type (i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j + 1
        j = 0
        while j < len(i):
            if type (i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j + 1
print("List after removal of string from nested list is \r", b, '\n')

### 19th March'21

In [ ]:
[i for i in "sougata"]

In [ ]:
[[i] for i in "sougata"]

In [ ]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)
print(l)

In [ ]:
[i for i in range(10) if i % 2 == 0]

In [ ]:
l = []
for i in range(10):
    if i % 2 != 0:
        l.append(i)
print(l)

In [ ]:
["odd" if i % 2 != 0 else "even" for i in range(10)]

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
print(mat)

In [ ]:
mat

In [ ]:
[[j for j in range(3)] for i in range(3)]

In [ ]:
[i for i in range(18) if i%2 == 0 if i % 3 == 0]

In [ ]:
l = []
for i in range (10):
    l.append(i)
l

## 20th March Tuple, Set and Dictionary

### 31st March'21

In [ ]:
t = ()

In [ ]:
type(t)

In [ ]:
l = []
type(l)

In [ ]:
t1 = (234, 43, "sudh",3.45, True)
l1 = [234, 43, "sudh",3.45, True]
print(type(t1))

In [ ]:
t1[0]

In [ ]:
t1[0:4]

In [ ]:
t1[::-1]

In [ ]:
l1[0]

In [ ]:
l1[0] = "Mookh"

In [ ]:
l1

In [ ]:
t2 = (234,54,65)
t1 + t2

In [ ]:
t1*2

In [ ]:
t1

In [ ]:
34 in t1

In [ ]:
43 in t1

In [ ]:
max(t2)

In [ ]:
t1.index(234)

In [ ]:
t1.count(234)

In [ ]:
min(t2)

In [ ]:
l=[]
for i in t1:
    l.append(i)
l

In [ ]:
l = list(t1)
l.insert(4,"Appu")
l

In [ ]:
t3 = tuple(l)

In [ ]:
t3

In [ ]:
t = ((2,3,4,5,6), (22,33,44,55,66),(222,333,444,555,666), 4 , 5,6 , [22, 33, 66])

In [ ]:
t[2][3]

In [ ]:
for i in t:
    if type(i) == tuple:
        print(i[0])

In [ ]:
t1 = (2,4,8,10,"Sadhu",22.3, 44.5, 66.7,88.10)
t2 = (True, False, 2.43, 6)

In [ ]:
len(t1)

In [ ]:
if len(t1) == len(t2):
    print("TRUE")
else:
    print("False")

In [ ]:
i = input("Please provide your name: ")
if i in t1:
    print("Got it")
else:
    print("No success")

In [91]:
l

['Sougata', 2, 44, 'RAMA', 55, 66, 'SITA', [221, 331, 441, 551], [2, 22, 33]]

In [92]:
del(l)

In [94]:
x = set()
type(x)

set

In [95]:
l = [22,22,33,33,33,44,44,44,44,"God", "God", "Ishwar"]

In [96]:
print(l)

[22, 22, 33, 33, 33, 44, 44, 44, 44, 'God', 'God', 'Ishwar']

In [97]:
x = set(l)

In [98]:
x

{22, 33, 44, 'God', 'Ishwar'}

In [100]:
for i in x :
    print(i)

33
Ishwar
44
22
God

### 1st April'21

In [1]:
s = set()

In [2]:
s.add(45)

In [3]:
s

{45}

In [4]:
s.add("Samam")

In [5]:
s

{45, 'Samam'}

In [6]:
s.add((23,32))

In [7]:
s

{(23, 32), 45, 'Samam'}

In [9]:
s.remove(45)

In [10]:
s.clear()

In [11]:
s

set()

In [13]:
s.add(234)

In [17]:
s = {234, 345, "Sting", "String"}

In [18]:
type(s)

set

In [20]:
l = [234,342,432,222,333,444]

In [21]:
s1 = set(l)

In [22]:
s1

{222, 234, 333, 342, 432, 444}

In [24]:
l

[234, 342, 432, 222, 333, 444]

In [26]:
l*2

[234, 342, 432, 222, 333, 444, 234, 342, 432, 222, 333, 444]

In [27]:
list(s)

['String', 345, 234, 'Sting']

In [29]:
l.append(345)

In [30]:
t = tuple(s)

In [32]:
t

('String', 345, 234, 'Sting')

In [35]:
t[0]

'String'

In [36]:
345 in t

True

In [37]:
x = {}

In [38]:
type(x)

dict

In [39]:
x1 = {34,45}

In [40]:
type(x1)

set

# ******************** Dictionary ********************

In [41]:
x = {"Name":"Sougata", "Age": 35, "School": "TAPS", "College":"IHM"}

In [42]:
type(x)

dict

In [55]:
x1 = {"name": "sam","age": 345, "name": "Mon", True : {"Why":"are", "you":"Sad"}, "Happy" : [21,False,42, True] , 345: 435}

In [56]:
print(x1)

{'name': 'Mon', 'age': 345, True: {'Why': 'are', 'you': 'Sad'}, 'Happy': [21, False, 42, True], 345: 435}

In [69]:
for i in x1:
    print(x1)[i]

{'name': 'Tues', 'age': 345, True: {'Why': 'are', 'you': 'Sad'}, 'Happy': [21, False, 42, True], 345: 435}

TypeError: 'NoneType' object is not subscriptable

In [58]:
x1

{'name': 'Mon',
 'age': 345,
 True: {'Why': 'are', 'you': 'Sad'},
 'Happy': [21, False, 42, True],
 345: 435}

In [65]:
x1["name"] = "Tues"

In [72]:
x1[345] -= 10
x1

{'name': 'Tues',
 'age': 345,
 True: {'Why': 'are', 'you': 'Sad'},
 'Happy': [21, False, 42, True],
 345: 415}

In [73]:
x1[345] = x1[345]-10
x1

{'name': 'Tues',
 'age': 345,
 True: {'Why': 'are', 'you': 'Sad'},
 'Happy': [21, False, 42, True],
 345: 405}

In [74]:
x1.keys()

dict_keys(['name', 'age', True, 'Happy', 345])

In [75]:
'name' in x1.keys()

True

In [76]:
 x1

{'name': 'Tues',
 'age': 345,
 True: {'Why': 'are', 'you': 'Sad'},
 'Happy': [21, False, 42, True],
 345: 405}

In [78]:
for i in x1:
    print(x1[i])

Tues
345
{'Why': 'are', 'you': 'Sad'}
[21, False, 42, True]
405

In [80]:
for i  in x1:
    print(i)

name
age
True
Happy
345

In [81]:
for i in x1:
    print(type(x1[i]))

<class 'str'>
<class 'int'>
<class 'dict'>
<class 'list'>
<class 'int'>

In [83]:
x1.items()

dict_items([('name', 'Tues'), ('age', 345), (True, {'Why': 'are', 'you': 'Sad'}), ('Happy', [21, False, 42, True]), (345, 405)])

In [86]:
for i in x1.items():
    print(i[0])

name
age
True
Happy
345

In [87]:
len(x1)

5

In [88]:
e = {56: {45, 34, 66}}

In [89]:
e

{56: {34, 45, 66}}

In [92]:
list(e[56])[1]

66

In [94]:
a = input("Please paste a Paragraph here: ")

Please paste a Paragraph here: A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

In [101]:
len(a.split())

52

In [99]:
s = set(a.split())

In [102]:
len(s)

40

In [109]:
l = []
for i in s:
    l.append(i)

In [111]:
len(l)

40

In [115]:
d = {}
for i in l:
    d[i] = "Sougata"
d

{'unified': 'Sougata',
 'unity:': 'Sougata',
 'central': 'Sougata',
 'at': 'Sougata',
 'Try': 'Sougata',
 'think': 'Sougata',
 'central,': 'Sougata',
 'group': 'Sougata',
 'that': 'Sougata',
 'idea.': 'Sougata',
 'your': 'Sougata',
 'supports': 'Sougata',
 'sentences': 'Sougata',
 'in': 'Sougata',
 'paragraph': 'Sougata',
 'about': 'Sougata',
 'Paragraphs': 'Sougata',
 'or': 'Sougata',
 'one': 'Sougata',
 'idea': 'Sougata',
 'series': 'Sougata',
 'broader': 'Sougata',
 'the': 'Sougata',
 'sentence': 'Sougata',
 'topic.': 'Sougata',
 'developing': 'Sougata',
 'A': 'Sougata',
 'to': 'Sougata',
 'called': 'Sougata',
 'thematic': 'Sougata',
 'terms': 'Sougata',
 'add': 'Sougata',
 'a': 'Sougata',
 'of': 'Sougata',
 'time': 'Sougata',
 'argument.': 'Sougata',
 'idea,': 'Sougata',
 'is': 'Sougata',
 'related': 'Sougata',
 'paragraphs': 'Sougata'}

In [120]:
for i in d.items():
    print(i[1])

Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata
Sougata

In [121]:
d = {"Name": "Sougata", "Company": "BT","Desig": "Associate", "Year": 2021}

In [122]:
for i in d:
    print("Key: ", i , " ; ", "Value: ",d[i])

Key:  Name  ;  Value:  Sougata
Key:  Company  ;  Value:  BT
Key:  Desig  ;  Value:  Associate
Key:  Year  ;  Value:  2021

In [123]:
"Name" in d

True

In [125]:
for i in d:
    if i == "Year":
        if d[i] > 2021:
            print("Year is fine")
        else:
            d[i] = 2022
d

{'Name': 'Sougata', 'Company': 'BT', 'Desig': 'Associate', 'Year': 2022}

In [127]:
my_dict = {}
for i in range(10):
    my_dict[i] = i * i

In [128]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [130]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## 21st March Class - Python Function

### 2nd April'21

# ******************** Functions ********************

In [3]:
a = 10
b = 20
a+b

30

In [5]:
def test(x,y): 
    pass

In [7]:
test

In [8]:
def test(x,y):
    print(x+y)

In [9]:
test(23, 45)

68

In [10]:
test(4,5)

9

In [11]:
test(23.4, 43.2)

66.6

In [12]:
test(a,b)

30

In [14]:
test("X", "Y")

XY

In [15]:
def test1(b,m):
    return b * m

In [16]:
test1(12,32)

384

In [17]:
type(test(2,4))

6

NoneType

In [18]:
type(test1(3,3))

int

In [20]:
def test2(t,n,m):
    return t + n

In [21]:
test2(2,3,4)

5

In [22]:
def test3(n,m):
    return n*10, m*40, m+n

In [23]:
test3(2,7)

(20, 280, 9)

In [24]:
type(test3(2,7))

tuple

In [26]:
c, x, v = test3(2,4)

In [27]:
c

20

In [28]:
x

160

In [29]:
v

6

In [30]:
def test8(n):
    return n * 2

In [34]:
test8([{2,22,222,2222}])

[{2, 22, 222, 2222}, {2, 22, 222, 2222}]